<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>The Movie Forum</title>
	</head>

	<body>
		<h1>Login</h1>
		<form th:action="@{/login}" method="POST">
			<label for="username">Username: </label>
			<input 
				type="text" 
				id="username"
				name="username"
				required> <br>
			
			<label for="password">Password: </label>
			<input 
				type="password" 
				id="password" 
				name="password"
				required> <br>
			
			<input type="submit" value="Sumbit"/>
		</form>
		
		<div th:if="${error == 'username doesnt exist'}">Username doesn't exist</div>
		<div th:if="${error == 'wrong password'}">Incorrect password</div>
		<div th:if="${error == 'none'}"></div>
	</body>
</html>
