<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Movie Forum</title>
    
    <div th:insert="util :: font"></div>
    
    
    <style>
        table {
            width: 60%;
            margin: auto;
            padding: 40px;
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            border-style: SOLID;
            border-width: 1px;
            border-color: #F7F7F7;
            border-radius: 10px;
            background-color: #F7F7F7;
        }
    </style>
</head>

<div th:insert="util :: header"></div>

<body>

	<h1 style="text-align: center; padding-top: 180px;">All movies</h1>
	
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Year of release</th>
                <th>Genre</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr  th:each="movie : ${movies}" style="line-height: 2;">
                <td style="text-align:center;"><a th:href="@{'/movie/' + ${movie.title}}" th:text="${movie.title}"></a></td>
                <td style="text-align:center;" th:text="${movie.releaseYear}"></td>
                <td style="text-align:center;" th:text="${movie.genre}"></td>
                <td style="text-align:center;" th:text="${movie.rating}"></td>
            </tr>
        </tbody>
    </table>
    
</body>

</html>
