<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>The Movie Forum</title>
	</head>

	<body>
		<h1>Welcome to the main page, <span th:text="${session.user.username}"></span></h1>
		<a href="/favourites">Your favourites</a>
		<a href="/watchlist">Your watchlist</a>
		<a href="/logout">Logout</a>
		<a href="/addmovie">Add a movie</a>
		<div th:each="movie : ${movies}">
			<a th:href="@{'/movie/' + ${movie.title}}"><span th:text="${movie.title}" /> <span th:text="${movie.releaseYear}" /> <span th:text="${movie.rating}" /> <span th:text="${movie.genre}" /></a>
		</div>
	
	</body>
</html>