<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>The Movie Forum</title>
	</head>

	<body>
		<h1>Welcome to the single movie page, <span th:text="${session.user.username}"></span></h1>
		<a href="/mainpage">Home</a>
		
		
		<form th:action="@{/favourites}" th:object="${movie}" method="POST">

		    <h3><input type="text" th:field="*{title}" /></h3>
		    <p><input type="text" th:field="*{genre}" /></p>
		    <p><input type="number" th:field="*{releaseYear}" /></p>
		    <p><input type="number" step="0.1" th:field="*{rating}" /></p>
		    
			<div>add to favourites</div>
		    <input type="submit" value="Submit" />
		</form>
		
		<br>
		<br>
		
		
		<form th:action="@{/watchlist}" th:object="${movie}" method="POST">

		    <h3><input type="text" th:field="*{title}" /></h3>
		    <p><input type="text" th:field="*{genre}" /></p>
		    <p><input type="number" th:field="*{releaseYear}" /></p>
		    <p><input type="number" step="0.1"  th:field="*{rating}" /></p>
		    
			<div>add to watchlist</div>
		    <input type="submit" value="Submit" />
		</form>
		
		<br>
		<br>
		
		
		
		<h3>Add a review</h3>
		<div>
			<form th:action="@{'/movie/' + ${movie.title}}" th:object="${review}" method="POST">
				<input type="text" th:field="*{reviewContent}" />
				<input type="number" step="0.1" th:field="*{rating}" />
				
				<input type="submit" value="Sumbit" />
			</form>
		</div>
			

		<h1>All reviews</h1>
		<div th:each="review : ${reviews}">
			<div th:text="${review.reviewContent}"></div> <div th:text="${review.rating}"></div> <div th:text="${review.user}"></div>
		</div>

	</body>
</html>








