<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>The Movie Forum</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
		
	    
		<div th:insert="util :: font"></div>



	</head>

	<div th:insert="util :: header"></div>

	<body>
		<div style="
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
">
			<form th:action="@{'/movie/' + ${movie.title}} + '/addfavourite'" th:object="${movie}" method="POST">
			    <input style="cursor:pointer; margin-bottom: 0;   background-color: transparent; padding:10px; border-width: 1px; border-radius: 6px" type="submit" value="Add to favourites" />
			</form>
			
			<form th:action="@{'/movie/' + ${movie.title}} + '/addwatchlist'" th:object="${movie}" method="POST">	    
			    <input style="cursor:pointer; margin-bottom: 0;    background-color: transparent; padding:10px; border-width: 1px; border-radius: 6px" type="submit" value="Add to watchlist" />
			</form>
		</div>
		
		
		<table th:object=${movie} style="margin: 0 auto; padding-bottom: 20px;">
					<h1 style="text-align:center; font-size:70px;" th:text="*{title}"></h1>
	
					<tr>
						<td align="right"><h3>Year of Release:</h3></td>
						<td align="left"><div th:text="*{releaseYear}" ></td>
					</tr>
					
					<tr>
						<td align="right"><h3>Genre:</h3></td>
						<td align="left"><div th:text="*{genre}" ></td>
					</tr>
					
					<tr>
						<td align="right"><h3>Director:</h3></td>
						<td align="left"><div th:text="*{director}" ></td>
					</tr>
					
					<tr>
						<td align="right"><h3>Cast:</h3></td>
						<td align="left"><div th:text="*{actors}" ></td>
					</tr>
					
					<tr>
						<td align="right"><h3>Plot:</h3></td>
						<td align="left"><div th:text="*{plot}" ></td>
					</tr>
					
					<tr>
						<td align="right"><h3>Rating:</h3></td>
						<td align="left"><div th:text="*{rating}" ></td>
					</tr>	
				</table>
		
	
	
	
	
	
	

		<div style="text-align: center; padding-top: 100px; padding-bottom:100px;">
			<h3>Leave a review</h3>
			<form th:action="@{'/movie/' + ${movie.title}}" th:object="${review}" method="POST">
				
				<label style="vertical-align:top;">Review: </label><textarea rows="3" cols="60" th:field="*{reviewContent}"></textarea>
				<div><label>Rating: </label><input style="width:50px; margin-bottom:10px;" size="1" type="number" step="0.1" th:field="*{rating}" /></div>
				
				<input style="cursor:pointer; margin-bottom: 0; margin-top:10px;   background-color: transparent; padding: 7px 20px; border-width: 1px; border-radius: 6px" type="submit" value="Sumbit" />
			</form>
		</div>
		
		
		
		
		
		
		
			
		<div style="padding-bottom: 300px;">
			<h1 style="padding-left:300px;" id="reviews">All reviews</h1>
			
			<div style="position: relative; margin:auto; width: 70%; border-top: 1px solid; border-bottom: 1px solid; padding-bottom:30px; padding-top:30px" th:each="review : ${reviews}">	
			

				<!------------------- Review by: +Button ------------------->
				<div style="padding-bottom: 15px">
					<h3 style="display:inline;">Review by: </h3> <h3 style="display:inline" th:text="${review.user.username}"></h3> 
					<button style="cursor:pointer; margin-bottom: 0; margin-top:10px;   background-color: transparent; padding: 3px 10px; border-width: 1px; border-radius: 6px; margin-left:10px" th:id="'editBtn' + ${review.id}" th:onclick="'toggle(\'' + ${review.id} + '\')'" th:if="${review.user.username == session.user.username}"><i class="fas fa-edit"></i></button>
					<a th:href="@{'/deletereview/' + ${review.id} + '/' + ${movie.title}}"  th:if="${review.user.username == session.user.username}" 
					onclick="if (confirm('Are you sure you want to delete this review?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
					<button style="cursor:pointer; margin-bottom: 0; margin-top:10px;   background-color: transparent; padding: 3px 10px; border-width: 1px; border-radius: 6px; margin-left:10px">
					<i class="fa-regular fa-trash-can"></i>
					</button>
					</a>
					
					
				</div>
				
				
				<!------------------- Comment ------------------->
				<i><div th:id="'commentreview' + ${review.id}" style="visibility: visible; padding-bottom: 15px" th:text="${review.reviewContent}"></div></i>
				
				
				
				<!------------------- User rates this movie: __/10 ------------------->
				<span th:id="'ratereview' + ${review.id}" style="visibility: visible;">Rates this movie: <span th:text="${review.rating}"></span> </span> 
				
				
				
				<!------------------- Reactions------------------->
				<div style="padding-top:20px;" >
						<a style="text-decoration: none;" th:href="@{'/clicklike/' + ${review.id} + '?title=' + ${movie.title}}" >
							<i th:if="${#lists.contains(review.getNamesOfLikedBy, currentUser)}"		style="color:DodgerBlue;" class="fas fa-thumbs-up fa-lg"></i>
							<i th:if="!${#lists.contains(review.getNamesOfLikedBy, currentUser)}"		style="color:black;" class="far fa-thumbs-up fa-lg"></i>
						</a> 
						<span style="margin-right:30px;" th:text="${review.likedBy.size}"></span>
				
					
						<a style="text-decoration: none;" th:href="@{'/clickdislike/' + ${review.id} + '?title=' + ${movie.title}}">
							<i th:if="${#lists.contains(review.getNamesOfDislikedBy, currentUser)}" 		style="color:red;" class="fas fa-thumbs-down fa-lg"></i>						
							<i th:if="!${#lists.contains(review.getNamesOfDislikedBy, currentUser)}" 		style="color:black;" class="far fa-thumbs-down fa-lg"></i>
						</a> 
						<span style="margin-right:30px;" th:text="${review.dislikedBy.size}"></span>
				
					
						<a style="text-decoration: none;" th:href="@{'/clickhaha/' + ${review.id} + '?title=' + ${movie.title}}">
							<i th:if="${#lists.contains(review.getNamesOfHahadBy, currentUser)}" 		style="color:orange;" class="fas fa-laugh fa-lg"></i>						
							<i th:if="!${#lists.contains(review.getNamesOfHahadBy, currentUser)}"  		style="color:black;" class="far fa-laugh fa-lg"></i>
						</a> 
						<span style="margin-right:30px;" th:text="${review.hahadBy.size}"></span>
						
						
						
						<div th:id="'formreview' + ${review.id}" th:if="${review.user.username == session.user.username}" style="display:none; position: absolute; top: 70px;">
							<form th:action="@{'/editreview/' + ${movie.title} + '/' + ${review.id}}" th:object="${editreview}" method="POST">
								<input style="display:block; margin-bottom: 10px;" type="text" th:field="*{reviewContent}"/>
								<input style="width:40px; display:inline-block;" type="number" th:field="*{rating}"/>
								<input style="display:inline; cursor:pointer; margin-bottom: 0; margin-top:10px;   background-color: transparent; padding: 3px 10px; border-width: 1px; border-radius: 6px; margin-left:10px" type="submit" value="Sumbit"/>
							</form>										
						</div>
				</div> 
			</div>
		</div>

		  <script>
		  function toggle(reviewId) {
			    const form = document.getElementById('formreview' + reviewId);
			    if (form.style.display === 'none') {
			      form.style.display = 'block';
			    } else {
			      form.style.display = 'none';
			    }
			    
			    const comment = document.getElementById('commentreview' + reviewId);
			    if (comment.style.visibility === 'hidden') {
			    	comment.style.visibility = 'visible';
				    } else {
				    	comment.style.visibility = 'hidden';
				    }
			    
			    const rating = document.getElementById('ratereview' + reviewId);
			    if (rating.style.visibility === 'hidden') {
			    	rating.style.visibility = 'visible';
				    } else {
				    	rating.style.visibility = 'hidden';
				    }
			  }
		  
		  function confirmdelete(url) {
			  if (confirm("Are you sure you want to delete this review?") == true) {
				  window.location.href='localhost:8080' + url
			  } else {
				  window.location.href = 'localhost:8080'
			  }

		  }
		  
   		 </script>
	</body>
</html>



