<div th:fragment="header" style=" width: 100%; position: absolute; top: 0px; left:0px;  background-color: grey; height:60px;" >

	

	<label style="color: pink; font-size: 1.17em; margin: .83em 0; margin-left: 20%"><a th:href="@{'/profile' +'/' + ${session.user.username}}"  style="color:pink; text-decoration: none;">Welcome, <span th:text="${session.user.username}"></span></a></label>
	<a style="color: pink; padding-top: 10px; font-size: 3em; margin: .67em 0; text-decoration:none; margin-left:370px" href="/mainpage">FDMDb</a>
	<a style="underline: none; color: pink; font-size: 1.17em; margin: .83em 0; margin-left: 20%" href="/logout">Logout</a>
	
	<div style="padding-top: 40px; text-align:center; margin-bottom: 30px; display:flex; justify-content:center; gap:50px;">
		<div><a style=" color:black;	text-decoration: none; border: 1px solid; padding: 5px 20px; border-radius: 10px;" href="/favourites">Your favourites</a></div>
	    <div><a style=" color:black;	text-decoration: none; border: 1px solid; padding: 5px 20px; border-radius: 10px;" href="/watchlist">Your watchlist</a></div>
	    <div><a style=" color:black;	text-decoration: none; border: 1px solid; padding: 5px 20px; border-radius: 10px;" href="/addmovie">Add a movie</a></div>
	</div>
</div>


<div th:fragment="font" style=" width: 100%; position: absolute; top: 0px; left:0px;  background-color: grey; height:60px;" >
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		
		<style>
		body {
		  font-family: 'Roboto', sans-serif;
		}
		</style>
</div>



